.debts {
  .debt-from-friend {
    color: green;
    text-align: right;
  }

  .debt-toward-friend {
    color: red;
    text-align: right;
  }
}


div.event-dashboard-friends {

  .debt-from-friend {
    font-size: 1.0em;
  }

  .debt-from-friend.paid {
    color: gray;
  }

  .debt-toward-friend {
    font-size: 1.0em;
  }

  .debt-toward-friend.paid {
    color: gray;
  }

  .amount {
    margin-right: 25px;
  }

  .debts {
    font-size: 0.9em;
  }
}
