button.google-login {
  margin: 15px;
}

h1.login-title {
  position: relative;
  z-index: 1;
  margin: 0px 0 35px 8px;
  padding: 10px 0 10px 100px;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  color: #009688;
  border-left: 5px solid #009688;
}

.login-avatar {
  font-size: 200px;
  color: lightgray;
}
